In [1]:
#Importando bibliotecas

import pandas as pd
import numpy as np

In [2]:
#Ler arquivo e amostra inicial dos dados

df = pd.read_csv('base_headcount.csv')
pd.set_option('display.max_columns', None)
df.head()

,employee_id,job_title,department,location,salary,hire_date,termination_date,is_active,absence_days,sick_days,vacation_days_taken,bank_hours,overtime_hours,tardiness_count,gender,marital_status,number_of_dependents,education_level,performance_rating,bonus_percentage,shift,contract_type,cost_center,compliance_status,health_plan,email,tenure_years,probation_completed,manager_id,last_promotion_date,last_training_date
0,EMP_00001,Gerente de RH,Financeiro,Salvador,6993.43,2022-02-26,NaN,True,3,2,13,52,20,6,Other,Widowed,4,Bachelors,5,7.58,Morning,Permanent,CC013,Compliant,Standard,emp_00001@company.com,3.34,True,EMP_00495,NaN,2024-07-04
1,EMP_00002,Engenheiro de Dados,Marketing,Belo Horizonte,5723.47,2023-03-04,NaN,True,1,1,14,-80,86,6,Male,Married,1,Bachelors,5,8.72,Morning,Temporary,CC026,Compliant,Basic,emp_00002@company.com,2.33,True,EMP_00345,2024-07-21,2024-02-01
2,EMP_00003,Desenvolvedor Python,Operações,Salvador,7295.38,2010-09-01,NaN,True,3,5,25,149,23,1,Female,Divorced,1,Masters,4,7.93,Morning,Permanent,CC010,Compliant,Basic,emp_00003@company.com,14.84,True,EMP_00306,2014-10-18,2024-01-11
3,EMP_00004,Analista Financeiro,Operações,Porto Alegre,9046.06,2020-02-26,NaN,True,2,1,21,-92,22,5,Male,Married,0,Bachelors,3,5.27,Morning,Permanent,CC008,Compliant,Standard,emp_00004@company.com,5.35,True,EMP_00971,NaN,2025-01-05
4,EMP_00005,Engenheiro de Dados,Recursos Humanos,Curitiba,5531.69,2011-06-22,NaN,True,1,2,15,93,72,3,Male,Single,0,Bachelors,2,10.95,Afternoon,Permanent,CC013,Compliant,Premium,emp_00005@company.com,14.03,True,EMP_00024,NaN,2025-01-19

In [3]:
#Visualizar estrutura da base

df.shape

(50000, 31)

In [ ]:
#Verificar valores se existe valores duplicados em employee_id
df['employee_id'].duplicated().any()

np.False_

In [4]:
#Verificar tipo de dados

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           50000 non-null  object
 1   job_title             50000 non-null  object
 2   department            50000 non-null  object
 3   location              50000 non-null  object
 4   salary                50000 non-null  float64
 5   hire_date             50000 non-null  object
 6   termination_date      10026 non-null  object
 7   is_active             50000 non-null  bool
 8   absence_days          50000 non-null  int64
 9   sick_days             50000 non-null  int64
 10  vacation_days_taken   50000 non-null  int64
 11  bank_hours            50000 non-null  int64
 12  overtime_hours        50000 non-null  int64
 13  tardiness_count       50000 non-null  int64
 14  gender                50000 non-null  object
 15  marital_status        50000 non-null  object
 16  number_of_dependents  50000 non-null  int64
 17  education_level       50000 non-null  object
 18  performance_rating    50000 non-null  int64
 19  bonus_percentage      50000 non-null  float64
 20  shift                 50000 non-null  object
 21  contract_type         50000 non-null  object
 22  cost_center           50000 non-null  object
 23  compliance_status     50000 non-null  object
 24  health_plan           50000 non-null  object
 25  email                 50000 non-null  object
 26  tenure_years          50000 non-null  float64
 27  probation_completed   50000 non-null  bool
 28  manager_id            50000 non-null  object
 29  last_promotion_date   24168 non-null  object
 30  last_training_date    35110 non-null  object
dtypes: bool(2), float64(3), int64(8), object(18)
memory usage: 11.2+ MB

In [5]:
#Verificar colunas com valores nulos

df.isnull().sum()

employee_id                 0
job_title                   0
department                  0
location                    0
salary                      0
hire_date                   0
termination_date        39974
is_active                   0
absence_days                0
sick_days                   0
vacation_days_taken         0
bank_hours                  0
overtime_hours              0
tardiness_count             0
gender                      0
marital_status              0
number_of_dependents        0
education_level             0
performance_rating          0
bonus_percentage            0
shift                       0
contract_type               0
cost_center                 0
compliance_status           0
health_plan                 0
email                       0
tenure_years                0
probation_completed         0
manager_id                  0
last_promotion_date     25832
last_training_date      14890
dtype: int64

Todas as colunas estão com informação preenchida exceto as colunas que poderiam não ter informações

In [6]:
#Verificar os dados em cada coluna

for coluna in df.columns:
    print(df[coluna].value_counts())
    print('-'*100)

employee_id
EMP_50000    1
EMP_00001    1
EMP_00002    1
EMP_00003    1
EMP_00004    1
            ..
EMP_00020    1
EMP_00021    1
EMP_00022    1
EMP_00023    1
EMP_00024    1
Name: count, Length: 50000, dtype: int64
----------------------------------------------------------------------------------------------------
job_title
Engenheiro de Dados        5076
Gerente de RH              5040
Consultor de BI            5038
Auxiliar Administrativo    5032
Estagiário                 5024
Coordenador de TI          5014
Desenvolvedor Python       5012
Diretor de Operações       5009
Analista Financeiro        4886
Analista de Dados          4869
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
department
TI                  7240
Recursos Humanos    7215
Financeiro          7171
Marketing           7170
Operações           7122
Vendas              7113
Jurídico            6969
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
location
São Paulo         7229
Porto Alegre      7201
Fortaleza         7164
Belo Horizonte    7147
Salvador          7146
Rio de Janeiro    7083
Curitiba          7030
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
salary
1500.00    622
8375.18      3
6809.50      3
5878.26      3
6707.13      3
          ...
6113.60      1
5950.15      1
7000.17      1
6530.43      1
7085.12      1
Name: count, Length: 47630, dtype: int64
----------------------------------------------------------------------------------------------------
hire_date
2020-06-16    26
2018-04-21    23
2024-08-19    21
2014-12-22    20
2011-12-28    20
              ..
2015-12-24     1
2019-08-11     1
2023-10-03     1
2019-03-02     1
2018-01-22     1
Name: count, Length: 5477, dtype: int64
----------------------------------------------------------------------------------------------------
termination_date
2025-02-16    13
2024-04-20    13
2025-04-26    13
2025-01-11    13
2024-10-01    12
              ..
2022-02-15     1
2012-08-07     1
2016-06-13     1
2010-11-30     1
2015-06-19     1
Name: count, Length: 3667, dtype: int64
----------------------------------------------------------------------------------------------------
is_active
True     39974
False    10026
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
absence_days
1     13584
2     13531
3      8981
0      6703
4      4517
5      1848
6       613
7       170
8        37
9        12
10        3
11        1
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
sick_days
3     11278
2     11175
4      8351
1      7440
5      5074
6      2549
0      2450
7      1119
8       385
9       128
10       40
11        6
12        3
13        2
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
vacation_days_taken
14    5222
15    5129
16    4771
13    4733
17    4273
12    4101
18    3614
11    3296
19    2697
10    2414
20    2142
9     1625
21    1477
22    1021
8      971
23     643
7      535
24     418
6      243
25     230
26     152
5       94
27      90
4       34
28      32
29      15
30      11
3        9
31       7
32       1
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
bank_hours
 113    203
 136    199
 43     198
 52     194
 61     192
       ...
-33     135
-78     135
-84     134
 133    134
 40     133
Name: count, Length: 301, dtype: int64
----------------------------------------------------------------------------------------------------
overtime_hours
86    554
19    544
46    540
84    537
5     533
     ...
90    456
26    455
4     452
60    442
80    440
Name: count, Length: 101, dtype: int64
----------------------------------------------------------------------------------------------------
tardiness_count
4     8858
5     8811
6     7214
3     6902
7     5189
2     4186
8     3309
9     1864
1     1703
10     914
11     421
0      343
12     192
13      72
14      14
15       8
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
gender
Female    24245
Male      23780
Other      1975
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
marital_status
Divorced    12618
Married     12508
Single      12451
Widowed     12423
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
number_of_dependents
1    18487
0    18355
2     9050
3     3135
4      799
5      149
6       21
7        3
8        1
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
education_level
Bachelors      25049
High School    14995
Masters         7383
PhD             2573
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
performance_rating
4    10066
5    10022
2    10019
3    10003
1     9890
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
bonus_percentage
0.00     1129
9.81       56
8.82       55
11.75      54
9.47       53
         ...
23.35       1
25.33       1
24.31       1
27.60       1
23.89       1
Name: count, Length: 2446, dtype: int64
----------------------------------------------------------------------------------------------------
shift
Morning      30065
Afternoon    14878
Night         5057
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
contract_type
Permanent     40005
Contractor     5016
Temporary      4979
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
cost_center
CC009    1067
CC004    1054
CC025    1050
CC015    1047
CC036    1040
CC005    1035
CC014    1035
CC008    1031
CC033    1031
CC002    1028
CC007    1021
CC022    1018
CC021    1018
CC041    1015
CC044    1014
CC035    1012
CC018    1011
CC020    1009
CC042    1008
CC046    1005
CC029    1004
CC024    1004
CC047    1001
CC049    1000
CC012     999
CC031     999
CC030     996
CC003     994
CC040     993
CC034     993
CC032     993
CC013     992
CC043     992
CC006     990
CC039     990
CC038     989
CC001     986
CC023     984
CC027     980
CC019     977
CC010     975
CC048     974
CC016     973
CC017     971
CC028     968
CC026     966
CC050     966
CC011     946
CC045     938
CC037     918
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
compliance_status
Compliant        45000
Non-Compliant     5000
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
health_plan
Basic       24965
Standard    15103
Premium      9932
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
email
emp_50000@company.com    1
emp_00001@company.com    1
emp_00002@company.com    1
emp_00003@company.com    1
emp_00004@company.com    1
                        ..
emp_00020@company.com    1
emp_00021@company.com    1
emp_00022@company.com    1
emp_00023@company.com    1
emp_00024@company.com    1
Name: count, Length: 50000, dtype: int64
----------------------------------------------------------------------------------------------------
tenure_years
8.88     58
1.24     57
0.92     56
5.04     55
13.62    54
         ..
15.46    17
11.63    17
12.71    14
5.89     14
1.74     12
Name: count, Length: 1501, dtype: int64
----------------------------------------------------------------------------------------------------
probation_completed
True    50000
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
manager_id
EMP_00209    76
EMP_00965    75
EMP_00504    74
EMP_00373    73
EMP_00011    72
             ..
EMP_00039    32
EMP_00364    32
EMP_00365    31
EMP_00770    31
EMP_00200    25
Name: count, Length: 1000, dtype: int64
----------------------------------------------------------------------------------------------------
last_promotion_date
2025-06-27    41
2025-06-11    36
2025-06-26    35
2025-06-24    35
2025-06-10    35
              ..
2013-04-16     1
2014-08-06     1
2016-10-30     1
2013-08-14     1
2014-10-20     1
Name: count, Length: 4369, dtype: int64
----------------------------------------------------------------------------------------------------
last_training_date
2023-10-10    69
2025-05-09    68
2024-02-20    68
2024-03-31    67
2025-01-07    67
              ..
2024-09-05    32
2024-06-19    31
2023-07-19    31
2025-04-27    31
2025-02-11    30
Name: count, Length: 731, dtype: int64
----------------------------------------------------------------------------------------------------

Coluna 'hire_date', 'termination_date', 'last_promotion_date', 'last_training_date' são colunas de datas e estão em formato object, proximo passo é transformar em tipo data

In [7]:
#Transformar as colunas de data em formato data

colunas_data = ['hire_date', 'termination_date', 'last_promotion_date', 'last_training_date']
for coluna in colunas_data:
    df[coluna] = pd.to_datetime(df[coluna], errors='coerce')

In [8]:
#Verificar se as colunas estão na formatação correta

df[['hire_date', 'termination_date', 'last_promotion_date', 'last_training_date']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   hire_date            50000 non-null  datetime64[ns]
 1   termination_date     10026 non-null  datetime64[ns]
 2   last_promotion_date  24168 non-null  datetime64[ns]
 3   last_training_date   35110 non-null  datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 1.5 MB

In [9]:
#Descrição estatisca inicial para identificar desvios

df.describe()

,salary,hire_date,termination_date,absence_days,sick_days,vacation_days_taken,bank_hours,overtime_hours,tardiness_count,number_of_dependents,performance_rating,bonus_percentage,tenure_years,last_promotion_date,last_training_date
count,50000.000000,50000,10026,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,24168,35110
mean,6008.196118,2017-07-14 03:01:50.591999744,2021-07-12 18:27:30.269299968,2.004200,3.005700,14.997260,50.315640,49.940300,5.009000,1.001760,3.006220,10.031756,7.966760,2021-11-26 20:04:20.973187584,2024-06-30 21:26:41.389917184
min,1500.000000,2010-01-01 00:00:00,2010-02-22 00:00:00,0.000000,0.000000,3.000000,-100.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.500000,2011-02-13 00:00:00,2023-07-01 00:00:00
25%,4642.750000,2013-10-14 00:00:00,2019-07-20 00:00:00,1.000000,2.000000,12.000000,-24.000000,24.000000,3.000000,0.000000,2.000000,6.630000,4.220000,2019-12-25 00:00:00,2023-12-31 00:00:00
50%,6003.480000,2017-07-27 00:00:00,2022-06-06 00:00:00,2.000000,3.000000,15.000000,50.000000,50.000000,5.000000,1.000000,3.000000,9.970000,7.930000,2022-11-06 00:00:00,2024-07-01 00:00:00
75%,7354.120000,2021-04-13 00:00:00,2024-04-28 00:00:00,3.000000,4.000000,18.000000,125.000000,75.000000,6.000000,2.000000,4.000000,13.310000,11.720000,2024-07-16 00:00:00,2024-12-30 00:00:00
max,14958.170000,2024-12-30 00:00:00,2025-06-29 00:00:00,11.000000,13.000000,32.000000,200.000000,100.000000,15.000000,8.000000,5.000000,32.440000,15.500000,2025-06-30 00:00:00,2025-06-30 00:00:00
std,1976.890182,NaN,NaN,1.416539,1.729152,3.861434,86.698049,29.195358,2.242744,1.002026,1.412325,4.884612,4.334095,NaN,NaN

Nenhuma inconsistência encontrada.

Unica coluna que poderia ter valores negativos seria bank_hours

Não há nenhuma coluna com valor máximo que não faria sentido, exemplo, number_of_dependents ter um valor igual a 20

Trativa que será feita para melhorar o consumo dos dados é dividir por 100 os dados da coluna bonus_percentage para estar entre 0 e 1

In [10]:
#Dividindo a coluna bonus_percentage para variar em 0 e 1

df['bonus_percentage'] = df['bonus_percentage'] / 100
df['bonus_percentage'].describe()

count    50000.000000
mean         0.100318
std          0.048846
min          0.000000
25%          0.066300
50%          0.099700
75%          0.133100
max          0.324400
Name: bonus_percentage, dtype: float64

Verificar se existe alguma inconsistência nas colunas em formato de data

In [11]:
#Verificar se existe datas de contratação posterior as datas de saída do colaborador

df['diferenca_dias'] = (df['termination_date'] - df['hire_date']).dt.days
df['diferenca_dias'].describe()

count    10026.000000
mean      1463.171255
std       1233.564224
min         30.000000
25%        438.250000
50%       1118.000000
75%       2208.750000
max       5591.000000
Name: diferenca_dias, dtype: float64

In [12]:
df.drop('diferenca_dias', axis=1, inplace=True)
df['diferenca_dias'] = (df['last_promotion_date'] - df['hire_date']).dt.days
df['diferenca_dias'].describe()

count    24168.000000
mean      1683.684997
std       1166.958579
min        365.000000
25%        721.000000
50%       1349.000000
75%       2381.000000
max       5626.000000
Name: diferenca_dias, dtype: float64

In [13]:
df.drop('diferenca_dias', axis=1, inplace=True)
df['diferenca_dias'] = (df['last_training_date'] - df['hire_date']).dt.days
df['diferenca_dias'].describe()

count    35110.000000
mean      2547.347536
std       1593.925746
min       -539.000000
25%       1176.250000
50%       2520.000000
75%       3918.000000
max       5649.000000
Name: diferenca_dias, dtype: float64

Existe dados onde o last_training_date é anterior ao hire_date

In [14]:
#Visualizar os dados onde last_training_date é anterior ao hire_date

df_filtrado = df.query('diferenca_dias < 0')
df_filtrado.head()

,employee_id,job_title,department,location,salary,hire_date,termination_date,is_active,absence_days,sick_days,vacation_days_taken,bank_hours,overtime_hours,tardiness_count,gender,marital_status,number_of_dependents,education_level,performance_rating,bonus_percentage,shift,contract_type,cost_center,compliance_status,health_plan,email,tenure_years,probation_completed,manager_id,last_promotion_date,last_training_date,diferenca_dias
45,EMP_00046,Gerente de RH,Vendas,Fortaleza,4560.31,2024-03-10,NaT,True,1,2,9,-64,92,6,Female,Single,2,Bachelors,2,0.0508,Morning,Temporary,CC047,Compliant,Basic,emp_00046@company.com,1.31,True,EMP_00711,NaT,2023-12-09,-92.0
135,EMP_00136,Analista de Dados,Jurídico,Curitiba,9099.87,2023-11-29,NaT,True,4,4,18,-44,61,7,Female,Single,0,Bachelors,1,0.1078,Morning,Temporary,CC049,Compliant,Basic,emp_00136@company.com,1.59,True,EMP_00146,2025-03-13,2023-08-02,-119.0
235,EMP_00236,Analista Financeiro,Jurídico,Belo Horizonte,7267.84,2024-06-11,NaT,True,0,6,20,-72,15,4,Female,Married,2,Bachelors,4,0.0637,Afternoon,Permanent,CC043,Compliant,Basic,emp_00236@company.com,1.05,True,EMP_00534,2025-06-28,2024-01-28,-135.0
327,EMP_00328,Desenvolvedor Python,Marketing,Curitiba,7583.33,2024-04-27,NaT,True,3,6,16,-1,34,5,Other,Single,0,Masters,3,0.0931,Afternoon,Permanent,CC027,Compliant,Premium,emp_00328@company.com,1.18,True,EMP_00994,NaT,2024-01-08,-110.0
345,EMP_00346,Auxiliar Administrativo,Operações,Salvador,6464.10,2024-05-10,NaT,True,2,1,17,162,51,3,Female,Widowed,3,Bachelors,1,0.1268,Morning,Contractor,CC048,Compliant,Basic,emp_00346@company.com,1.14,True,EMP_00971,2025-06-23,2024-02-24,-76.0

In [15]:
#Verificar quantos registros isso acontece
df_filtrado.shape

(1321, 32)

In [16]:
df_filtrado.describe()

,salary,hire_date,termination_date,absence_days,sick_days,vacation_days_taken,bank_hours,overtime_hours,tardiness_count,number_of_dependents,performance_rating,bonus_percentage,tenure_years,last_promotion_date,last_training_date,diferenca_dias
count,1321.000000,1321,256,1321.000000,1321.000000,1321.000000,1321.000000,1321.000000,1321.000000,1321.000000,1321.000000,1321.000000,1321.000000,292,1321,1321.000000
mean,6074.046843,2024-06-29 16:19:59.091597312,2025-01-07 00:50:37.500000,1.968963,3.021953,14.995458,52.174868,50.797123,4.981832,1.012112,3.044663,0.099521,1.000727,2025-04-25 20:37:48.493150720,2024-01-01 08:43:14.398183424,-180.317184
min,1500.000000,2023-07-13 00:00:00,2023-10-20 00:00:00,0.000000,0.000000,4.000000,-99.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.500000,2024-09-14 00:00:00,2023-07-01 00:00:00,-539.000000
25%,4741.250000,2024-04-03 00:00:00,2024-10-26 00:00:00,1.000000,2.000000,12.000000,-22.000000,26.000000,3.000000,0.000000,2.000000,0.066200,0.700000,2025-03-26 18:00:00,2023-09-20 00:00:00,-266.000000
50%,6098.200000,2024-07-19 00:00:00,2025-01-28 12:00:00,2.000000,3.000000,15.000000,52.000000,51.000000,5.000000,1.000000,3.000000,0.099600,0.950000,2025-05-19 00:00:00,2023-12-19 00:00:00,-159.000000
75%,7394.100000,2024-10-17 00:00:00,2025-04-08 12:00:00,3.000000,4.000000,17.000000,129.000000,77.000000,6.000000,2.000000,4.000000,0.132700,1.240000,2025-06-12 06:00:00,2024-03-25 00:00:00,-75.000000
max,11420.980000,2024-12-30 00:00:00,2025-06-29 00:00:00,7.000000,10.000000,28.000000,200.000000,100.000000,12.000000,6.000000,5.000000,0.243600,1.970000,2025-06-30 00:00:00,2024-12-26 00:00:00,-1.000000
std,1962.490357,NaN,NaN,1.408235,1.708349,3.849633,87.016015,28.943592,2.274957,1.024623,1.408945,0.048488,0.349080,NaN,NaN,125.425676

Como pode ter sido um erro nos dados e os demais dados parecem coerentes, será feito a substituição para valores nulos

In [17]:
#Substituir por nulo quando a diferença for negativa
df.loc[df['diferenca_dias'] < 0, 'last_training_date'] = pd.NaT

In [18]:
#Verificar se deu certo
df[df['diferenca_dias'] < 0][['last_training_date', 'diferenca_dias']].value_counts()

Series([], Name: count, dtype: int64)

In [19]:
df.drop('diferenca_dias', axis=1, inplace=True)

In [20]:
#Verificar se todos os colaboradores como False em is_active estão com termination_date preenchido

df_filtrado = df.query('is_active == "False"')

In [21]:
df_filtrado['termination_date'].isnull().sum()

np.int64(0)

Todos os colaboradores como False em is_active estão com termination_date preenchido

In [22]:
#Verificar se há necessidade de padronizar dados nas colunas nas colunas categoricas e booleanas

colunas_categoricas = ['job_title', 'department', 'location',
                       'is_active', 'gender', 'marital_status', 'education_level', 'shift',
                       'contract_type', 'cost_center', 'compliance_status', 'health_plan',
                       'probation_completed', 'manager_id']

for colunas in colunas_categoricas:
    print(df[colunas].value_counts())
    print('-'*100)

job_title
Engenheiro de Dados        5076
Gerente de RH              5040
Consultor de BI            5038
Auxiliar Administrativo    5032
Estagiário                 5024
Coordenador de TI          5014
Desenvolvedor Python       5012
Diretor de Operações       5009
Analista Financeiro        4886
Analista de Dados          4869
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
department
TI                  7240
Recursos Humanos    7215
Financeiro          7171
Marketing           7170
Operações           7122
Vendas              7113
Jurídico            6969
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
location
São Paulo         7229
Porto Alegre      7201
Fortaleza         7164
Belo Horizonte    7147
Salvador          7146
Rio de Janeiro    7083
Curitiba          7030
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
is_active
True     39974
False    10026
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
gender
Female    24245
Male      23780
Other      1975
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
marital_status
Divorced    12618
Married     12508
Single      12451
Widowed     12423
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
education_level
Bachelors      25049
High School    14995
Masters         7383
PhD             2573
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
shift
Morning      30065
Afternoon    14878
Night         5057
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
contract_type
Permanent     40005
Contractor     5016
Temporary      4979
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
cost_center
CC009    1067
CC004    1054
CC025    1050
CC015    1047
CC036    1040
CC005    1035
CC014    1035
CC008    1031
CC033    1031
CC002    1028
CC007    1021
CC022    1018
CC021    1018
CC041    1015
CC044    1014
CC035    1012
CC018    1011
CC020    1009
CC042    1008
CC046    1005
CC029    1004
CC024    1004
CC047    1001
CC049    1000
CC012     999
CC031     999
CC030     996
CC003     994
CC040     993
CC034     993
CC032     993
CC013     992
CC043     992
CC006     990
CC039     990
CC038     989
CC001     986
CC023     984
CC027     980
CC019     977
CC010     975
CC048     974
CC016     973
CC017     971
CC028     968
CC026     966
CC050     966
CC011     946
CC045     938
CC037     918
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
compliance_status
Compliant        45000
Non-Compliant     5000
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
health_plan
Basic       24965
Standard    15103
Premium      9932
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
probation_completed
True    50000
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
manager_id
EMP_00209    76
EMP_00965    75
EMP_00504    74
EMP_00373    73
EMP_00011    72
             ..
EMP_00039    32
EMP_00364    32
EMP_00365    31
EMP_00770    31
EMP_00200    25
Name: count, Length: 1000, dtype: int64
----------------------------------------------------------------------------------------------------

In [23]:
#Criar glossario
glossario = pd.DataFrame({
    'coluna': [
        'employee_id', 'job_title', 'department', 'location', 'salary',
        'hire_date', 'termination_date', 'is_active', 'absence_days', 'sick_days', 
        'vacation_days_taken', 'bank_hours', 'overtime_hours', 'tardiness_count', 'gender', 
        'marital_status', 'number_of_dependents', 'education_level', 'performance_rating', 'bonus_percentage', 
        'shift', 'contract_type', 'cost_center', 'compliance_status', 'health_plan',
        'email', 'tenure_years', 'probation_completed', 'manager_id', 'last_promotion_date', 
        'last_training_date'
    ],
    'tipo': [
        'object', 'object', 'object', 'object', 'float64', 
        'datetime64', 'datetime64', 'bool', 'int64', 'int64', 
        'int64', 'int64', 'int64', 'int64', 'object',
        'object', 'int64', 'object', 'int64', 'float64', 
        'object', 'object', 'object', 'object', 'object', 
        'object', 'float64', 'bool', 'object', 'datetime64', 
        'datetime64'
    ],
    'descricao': [
        'ID único do funcionário',
        'Cargo ou título do funcionário',
        'Departamento em que o funcionário atua',
        'Localização da unidade ou escritório',
        'Salário atual do funcionário',
        'Data de admissão na empresa',
        'Data de saída da empresa (se aplicável)',
        'Se o funcionário está ativo atualmente',
        'Dias de ausência registrados',
        'Dias de licença médica registrados',
        'Dias de férias utilizados',
        'Horas de banco de horas acumuladas',
        'Horas extras trabalhadas',
        'Quantidade de atrasos registrados',
        'Gênero do funcionário',
        'Estado civil',
        'Número de dependentes declarados',
        'Nível de escolaridade',
        'Avaliação de desempenho',
        'Porcentagem de bônus',
        'Turno de trabalho',
        'Tipo de contrato',
        'Centro de custo que o funcionário está',
        'Status compliance',
        'Tipo de plano de saúde',
        'Email',
        'Tempo de empresa em anos',
        'Se o funcionário concluiu o período de experiência',
        'ID do gestor direto',
        'Data da última promoção recebida',
        'Data do último treinamento realizado'
    ],
    'tratamento_erro': [
        'Nenhum', 'Nenhum', 'Nenhum', 'Nenhum', 'Nenhum',
        'Convertido para datetime', 'Convertido para datetime', 'Nenhum', 'Nenhum', 'Nenhum', 
        'Nenhum', 'Nenhum', 'Nenhum', 'Nenhum', 'Nenhum', 
        'Nenhum', 'Nenhum', 'Nenhum', 'Nenhum', 'Dividido por 100',
        'Nenhum', 'Nenhum', 'Nenhum', 'Nenhum', 'Nenhum', 
        'Nenhum', 'Nenhum', 'Nenhum', 'Nenhum', 'Convertido para datetime', 
        'Convertido para datetime e preenchido com valores nulos datas menores que a data de contratação',
        
    ],
})


display(glossario)

,coluna,tipo,descricao,tratamento_erro
0,employee_id,object,ID único do funcionário,Nenhum
1,job_title,object,Cargo ou título do funcionário,Nenhum
2,department,object,Departamento em que o funcionário atua,Nenhum
3,location,object,Localização da unidade ou escritório,Nenhum
4,salary,float64,Salário atual do funcionário,Nenhum
5,hire_date,datetime64,Data de admissão na empresa,Convertido para datetime
6,termination_date,datetime64,Data de saída da empresa (se aplicável),Convertido para datetime
7,is_active,bool,Se o funcionário está ativo atualmente,Nenhum
8,absence_days,int64,Dias de ausência registrados,Nenhum
9,sick_days,int64,Dias de licença médica registrados,Nenhum
10,vacation_days_taken,int64,Dias de férias utilizados,Nenhum
11,bank_hours,int64,Horas de banco de horas acumuladas,Nenhum
12,overtime_hours,int64,Horas extras trabalhadas,Nenhum
13,tardiness_count,int64,Quantidade de atrasos registrados,Nenhum
14,gender,object,Gênero do funcionário,Nenhum
15,marital_status,object,Estado civil,Nenhum
16,number_of_dependents,int64,Número de dependentes declarados,Nenhum
17,education_level,object,Nível de escolaridade,Nenhum
18,performance_rating,int64,Avaliação de desempenho,Nenhum
19,bonus_percentage,float64,Porcentagem de bônus,Dividido por 100
20,shift,object,Turno de trabalho,Nenhum
21,contract_type,object,Tipo de contrato,Nenhum
22,cost_center,object,Centro de custo que o funcionário está,Nenhum
23,compliance_status,object,Status compliance,Nenhum
24,health_plan,object,Tipo de plano de saúde,Nenhum
25,email,object,Email,Nenhum
26,tenure_years,float64,Tempo de empresa em anos,Nenhum
27,probation_completed,bool,Se o funcionário concluiu o período de experiê...,Nenhum
28,manager_id,object,ID do gestor direto,Nenhum
29,last_promotion_date,datetime64,Data da última promoção recebida,Convertido para datetime
30,last_training_date,datetime64,Data do último treinamento realizado,Convertido para datetime e preenchido com valo...

In [24]:
#Salvar como CSV
glossario.to_csv('glossario.csv', index=False)

In [ ]:
#Criar base com tratamento de dados
df.to_csv('base_headcount_tratada.csv', index=False)